.nav{
  padding: -4rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: yellow;
    font-weight: 400;
  }

  div{
    gap: 1rem;
    background-color: red;
  }
}

.link {
  color: white;
  text-decoration: none;
}